:root {
    /* font sizes */
    --profile: 56px;
    
    --vlg: 48px;
    /*very large*/
    --lg: 32px;
    /*large font*/
    --md: 16px;
    /* medium font */
    --sub: 14px;
    /*sub text */
    --sm: 8px;
    /* small font*/
    --vsm: 4px;
    /* very small font */
    --icon: 25px;
    
    /*color sheme*/
    --main-colour: black;
    --light-main: #2A2A2A;
    --accent-color: rgb(76, 104, 230);
    --link-color: rgb(90, 140, 255);
    --theme: inear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: 'Grand Hotel';
    src: url("./fonts/grandhotel-regular-webfont.woff2") format('woff2'),
        url('./fonts/grandhotel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    height: 100dvh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Grand Hotel";
}

h2 {
    margin: 0;
}

p {
    font: inherit;
    margin: 0;
}

iconify-icon {
    font-size: var(--icon);
    width: 1em;
    height: 1em;
    padding: var(--sm);
}

a {
    color: var(--link-color);
    text-decoration: none;
    font: inherit;
}

input {
    background: rgba(255, 255, 255, 0);
    border: 0;
    font: inherit;
    color: inherit;
    width: 100%;
}

button{
    all: unset;
}

input:focus,
button:focus {
    outline: 0;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

/*home page*/
.username {
    font-weight: 600;
}

.head {
    display: flex;
    padding: var(--vsm) var(--md);
    justify-content: space-between;
    align-items: center;
    height: 54px;
    box-sizing: border-box;
}

.head-icon {
    display: flex;
    gap: var(--md);
    padding-right: var(--vsm);
}

.head-icon svg[data-lucide="plus"] {
    border: 2px solid white;
    border-radius: var(--sm);
    box-sizing: border-box;
}

.head>h2 {
    font-family: "Grand Hotel";
    font-size: var(--lg);
    font-weight: 400;
    margin: 0;
}

.story-bar {
    display: flex;
    padding: var(--sm) var(--md);
    overflow-x: auto;
    gap: var(--md);
}

.story {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 25%;
}

.story-pic {
    display: inline-flex;
    background: var(--theme);
    width: 72px;
    border-radius: 50%;
    max-width: 150px;
    position: relative;
    padding: var(--vsm);
    box-sizing: border-box;
}

.story-pic>img {
    background-color: black;
    border-radius: 50%;
    padding: var(--vsm);
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.story-pic>svg {
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 1;
    background-color: white;
    color: black;
    stroke-width: 1;
    border-radius: 50%;
    height: var(--md);
    width: var(--md);
}

.story>p {
    text-align: center;
    padding: var(--sm);
    font-size: 12px;
    opacity: .7;
}

.main {
    height: calc(100dvh - 135px);
    overflow-y: auto;
    padding-bottom: var(--lg);
}

.post {
    font-size: var(--sub);
    display: flex;
    flex-direction: column;
    gap: var(--sm);
}

.post-head {
    display: flex;
    gap: var(--md);
    padding: 0 var(--md);
    padding-left: var(--sm);
    align-items: center;
    line-height: 1.3;
}

.post-owner-details>.extra {
    font-size: 12px;
    letter-spacing: .1px;
    font-weight: 300;
}

.post-owner-pic {
    display: inline-flex;
    width: var(--lg);
    height: var(--lg);
    max-width: 50px;
    max-height: 50px;
    padding: 2px;
    background: var(--theme);
    border-radius: 50%;
    box-sizing: border-box;
}

.post-owner-pic>img {
    background: black;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.post-head svg {
    margin-left: auto;
    padding: var(--sm);
}

.post>img {
    object-fit: contain;
    height: 400px;
    width: auto;
}

.post>.icons {
    display: flex;
    gap: var(--md);
    padding: var(--sm) var(--md);
}

.icons>svg[data-lucide="bookmark"] {
    margin-left: auto;
}

.icons>svg[data-lucide="message-circle"] {
    transform: rotateY(180deg);
}

.post>.likes {
    padding: 0 var(--md);
    font-weight: 600;
}

.post>.post-details {
    letter-spacing: .1px;
    padding: var(--vsm) var(--md);
}

.footer {
    box-sizing: border-box;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--sm) var(--md);
    border-top: .5px solid rgba(255, 255, 255, .5);
}

.footer>img {
    height: var(--icon);
    width: var(--icon);
    border-radius: 50%;
    box-sizing: border-box;
}

.footer svg {
    width: var(--icon);
    height: var(--icon);
    padding: var(--sm);
}



/* Login page */

.login {
    display: flex;
    flex-direction: column;
    gap: var(--md);
    align-items: center;
    justify-content: center;
    padding: var(--lg);
    padding-top: var(--md);
    max-width: 400px;
}

.login>.language {
    opacity: .7;
    font-size: var(--sub);
}

.login>h1 {
    font-family: "Grand Hotel";
    font-size: var(--vlg);
    margin: var(--md) 0 var(--md);
    padding: var(--sm) 0 var(--vsm);
    font-weight: 400;
    letter-spacing: .2px;
}

.social-login {
    font-family: inherit;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--sm);
    border-radius: var(--sm);
    padding: var(--vsm);
    background: #ED5B3ABA;
    color: white;
    border: 0;
}

.social-login>iconify-icon {
    padding: 0;
    font-size: var(--icon);
}

.login>.or {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-weight: 600;
    opacity: .8;
    padding: var(--sm);
    font-size: var(--sub);
}

.or::before,
.or::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin: 0 var(--sub);
}

.login>form {
    display: flex;
    flex-direction: column;
    gap: var(--sm);
    width: 100%;
}

form>.input-field {
    font-size: var(--md);
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: var(--vsm);
    background: rgba(255, 255, 255, .1);
    position: relative;
    display: flex;
    width: 100%;
    transition: all .2s linear;
}

form>.input-field>label {
    font: inherit;
    font-size: var(--sub);
    position: absolute;
    top: var(--sub);
    left: var(--sm);
    opacity: .65;
    transition: all .1s linear;
    pointer-events: none;
}

form>.input-field>.password-icon {
    align-self: center;
    margin-right: var(--sm);
    width: var(--icon);
    height: var(--icon);
}

form>.input-field>input {
    padding: var(--sm);
    padding-top: var(--md);
}

form>.input-field:focus-within {
    border-color: var(--link-color);
}

form>.input-field>input:focus+label,
form>.input-field>input:not(:placeholder-shown)+label {
    top: 2px;
    font-size: 10px;
    opacity: .8;
}

form>.input-field>input:not(:placeholder-shown)+label+.password-icon,
form>.input-field:focus-within>.password-icon {
    visibility: visible !important;
}

.login>form>.reset-link {
    align-self: flex-end;
    padding: var(--sm) 0 var(--md);
    margin-bottom: var(--sm);
    font-size: var(--sub);
    letter-spacing: .3px;
}


form>.submit-btn {
    font: inherit;
    font-size: var(--sub);
    font-weight: 600;
    padding: var(--sm);
    border-radius: var(--sm);
    border: 0;
    background: var(--accent-color);
    color: white;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.login>form>.submit-btn:disabled {
    opacity: .6;
}

form>.submit-btn>iconify-icon {
    font-size: var(--icon);
    margin: calc(var(--sm) * -1);
    padding: 0;
}

.login>.error {
    
    color: red;
    font-size: var(--sub);
    width: 80%;
    line-height: var(--md);
    letter-spacing: .3px;
    text-align: center;
}

.login>.signup-link {
    margin: var(--sub) 0;
    opacity: .8;
    font-weight: 300;
    font-size: var(--sub);
}

.login>.signup-link>a {
    font-weight: 600;
    opacity: 1;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.signup .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--sub);
    max-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.signup .back-btn {
    position: fixed;
    left: 5%;
}

.signup .back-btn svg {
    width: var(--icon);
    height: var(--icon);
}

.signup .header-text {
    font-weight: 600;
    margin: 0;
}

.signup form {
    display: flex;
    flex-direction: column;
    padding: var(--lg);
    gap: var(--icon);
    
}

.signup .submit-btn {
    padding: var(--sub);
}

.signup .social-login-box {
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: var(--md) 0;
    width: 100%;
}

.signup .social-login-box .social-login {
    padding: var(--sm);
}

.signup .input-error {
    display: none;
    color: red;
    margin: calc(var(--sub) * -1) 0 0;
    font-size: var(--sub);
    overflow-wrap: break-word;
    text-align: center;
}

.basic-popup {
    padding: 0;
    color: inherit;
    font: inherit;
    font-weight: 400;
    width: 60%;
    border-radius: var(--sub);
    /*border: 2px solid white;*/
    font-size: var(--sub);
    background: #262829;
    border: 0;
}

.basic-popup .main-text {
    font-size: var(--md);
    padding: var(--lg) var(--md)
}

.basic-popup button {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, .3);
    background: inherit;
    color: var(--accent-color);
    padding: var(--sm);
    width: 100%;
    outline: 0;
    font-size: var(--md);
}

.basic-popup button:hover {
    background: var(--accent-color);
    color: white;
}

.basic-popup.error {
    border: 1px solid red;
}

.verify-email {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--icon);
    font-weight: 300;
    line-height: 20px;
    letter-spacing: .2px;
    text-align: center;
    gap: var(--sm);
}

.verify-email iconify-icon {
    stroke-linejoin: 1;
    color: #DFE723;
    font-size: 128px;
    padding: var(--lg);
    padding-bottom: 0;
}

.verify-email .verification-status {
    color: #DFE723;
}

.resend-btn {
    color: var(--link-color);
    background: inherit;
    margin: var(--md);
    border: 0;
}

/**
* home style
*/

.home {
    flex: 1;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.home-header {
    padding: var(--sub);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    box-sizing: border-box;
}

.home-header>h2 {
    font-family: "Grand Hotel";
    letter-spacing: .3px;
    font-weight: 400;
    font-size: var(--lg);
}

.home-header svg {
    height: var(--icon);
    width: var(--icon);
    padding: 0 var(--sm);
}


.home-header>.search-bar {
    display: flex;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    gap: var(--sm);
}

.home-header>.search-bar>.back-btn,
.home-header>.search-bar>.search-input {
    display: none;
}

.home-header>.search-bar svg {
    width: var(--icon);
    height: var(--icon);
    padding: var(--sm);
}

.home-header>.search-bar.opened {
    padding: var(--sm);
    background: var(--light-main);
    border-radius: var(--md);
    border: .5px solid black;
    justify-content: flex-end;
    width: 100%;
}

.home-header>.search-bar.opened:focus-within {
    border-color: var(--accent-color);
    box-shadow: 0 0 var(--vsm) var(--accent-color);
    
}

.home-header>.search-bar.opened>.back-btn,
.home-header>.search-bar.opened>.search-input {
    display: block;
    caret-color: var(--link-color);
}


.home-header>.search-bar.opened>.search-btn {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -4px 0;
    border-radius: 50%;
    color: var(--accent-color);
    
}

.chats-main {
    height: calc(100dvh - 108px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-preview {
    display: flex;
    height: 54px;
    gap: var(--md);
    padding: var(--sub) var(--md);
}

.chat-preview-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.chat-preview-details>.message {
    grid-row-start: 2;
    grid-column: span 3;
    font-size: var(--sub);
    opacity: .7;
}

.chat-preview-details>.timestamp {
    grid-column-start: 4;
    font-size: 11px;
    opacity: .7;
}

.chats-main>.chat-preview .profile-picture {
    width: var(--profile);
    height: var(--profile);
    grid-row: span 2;
    border-radius: 50%;
}

.profile-field {
    position: relative;
}

.profile-field>.status {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    bottom: 0px;
    background: var(--accent-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 10px;
    color: #000;
}

.chat-message {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--vsm) var(--sm);
    height: 54px;
    background-color: black;
    box-sizing: border-box;
}

.message-header>.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--sub);
}

.message-header>.icons svg {
    height: var(--icon);
    width: var(--icon);
    padding: var(--sm);
}

.message-header>.icons>.phone-icon {
    height: 22px;
    width: 22px;
}

.chat-details {
    display: flex;
    gap: var(--sub);
    margin-left: calc(var(--lg) * -1);
}

.chat-details>.name-and-status {
    display: flex;
    flex-direction: column;
    gap: var(--vsm);
    justify-content: center;
}

.status {
    opacity: 1;
    font-size: var(--sub);
}

.status.online {
    color: var(--accent-color);
}

.chat-message .chat-picture {
    width: calc(var(--lg) + var(--sm));
    height: calc(var(--lg) + var(--sm));
    border-radius: 50%;
}

.message-main {
    /*background: var(--main-colour);*/
    /*background-color: #0b1a2a;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><rect width='100%' height='100%' fill='none'/><circle cx='10' cy='10' r='2' fill='%23fff'/><circle cx='30' cy='10' r='2' fill='%23fff'/><circle cx='10' cy='30' r='2' fill='%23fff'/><circle cx='30' cy='30' r='2' fill='%23fff'/><path d='M0 20 H40 M20 0 V40' stroke='%23fff' stroke-width='1'/></svg>");
	background-size: 40px 40px;*/
    
    
    max-height: calc(100dvh - 116px);
    position: relative;
    padding: var(--sub);
    display: flex;
    flex-direction: column;
    gap: var(--md);
    overflow-x: auto;
    margin-bottom: var(--profile);
}

.message-main>.chat-bubble {
    border-radius: var(--icon);
    padding: 10px;
    width: 40%;
    text-align: left;
}

.message-main>.chat-bubble *:first-child {
    padding-bottom: var(--vsm);
}

.message-main>.chat-bubble>.timestamp {
    font-size: 10px;
}

.message-main>.chat-bubble.sender>.timestamp {
    text-align: right;
}

.message-main>.chat-bubble.sender {
    background: var(--accent-color);
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.message-main>.chat-bubble.receiver {
    background: var(--light-main);
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

.message-main>.input-area {
    padding: var(--sub) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    position: fixed;
    bottom: 0%;
    box-sizing: border-box;
}



.message-main>.input-area>.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: var(--sub);
    padding: 8px;
    gap: var(--sm);
    background: var(--light-main);
}

.message-main>.input-area>.input-box svg {
    min-height: var(--icon);
    min-width: var(--icon);
    border-radius: 50%;
    padding: var(--sm);
    background-color: var(--main-colour);
    color: var(--link-color);
    margin: -4px 0;
}

.message-main>.input-area>.send-btn {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 12px;
    margin: 0 var(--sm);
    border-radius: 50%;
    /*background-color: var(--light-main);*/
    color: var(--link-color);
}

.message-main>.input-area>.input-box input {
    font: inherit;
    caret-color: var(--link-color);
}

.friends-list {
    height: calc(100dvh - 118px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--sub);
    gap: var(--vsm);
    position: relative;
}

.friends-list>.friend {
    gap: var(--icon);
    display: flex;
    align-items: center;
    padding: var(--sm);
    border-width: .5px 0;
}

.friends-list>.friend>.profile-picture {
    width: var(--profile);
    height: var(--profile);
    border-radius: 50%;
    
}
.friends-list>.friend>.username {
    padding-right: var(--sm);
}

.friends-list>.friend>.friend-icons {
    display: flex;
    gap: var(--sm);
    justify-content: center;
    align-items: center;
}

.friends-list>.friend>.friend-icons svg {
    padding: var(--vsm);
    margin-left: var(--sm);
    color: var(--accent-color);
    border-radius: var(--sm);
}

.friends-list>.friend>.friend-icons svg[data-lucide="video"] {
    width: 30px;
    height: 30px;
}

.friends-list>.add-friend-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 3;
    background: var(--accent-color);
    padding: var(--vsm);
    border-radius: 50%;
    color: black;
}

.friends-list>.add-friend-btn svg {
    width: var(--icon);
    height: var(--icon);
    padding: var(--sm);
    fill: black;
}

.friends-list > .add-friend-btn.new-design{
    background-color: rgba(70, 100, 219, 0.4);
}

.friends-list > .add-friend-btn.new-design svg{
    color: var(--link-color);
    fill: var(--link-color);
}

.search-results {
    height: calc(100dvh - 108px);
}

.user-search {
    flex: 1;
    height: 100dvh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: var(--sm);
    gap: 24px;
}

.user-search>.user-search-bar {
    display: flex;
    align-items: center;
    gap: var(--sm);
    padding: var(--vsm) 0;
    background-color: var(--light-main);
    width: 95%;
    border-radius: var(--md);
    border: .5px solid black;
}

.user-search>.user-search-bar:focus-within {
    border-color: var(--accent-color);
    box-shadow: 0 0 var(--vsm) var(--accent-color);
    
}

.user-search>.user-search-bar>input {
    caret-color: var(--accent-color);
}

.user-search>.user-search-bar .back-btn {
    margin-bottom: -2px;
    
}

.user-search>.user-search-bar .back-btn svg {
    padding-right: 0;
}


.user-search>.user-search-bar svg {
    width: var(--icon);
    height: var(--icon);
    padding: 6px;
}

.user-search>.user-search-bar>.search-btn {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -4px 0;
    border-radius: 50%;
    color: var(--accent-color);
    
}

.user-search>.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--md);
    padding: var(--md) 0;
}

.user-search>.search-results>.result {
    display: flex;
    align-items: center;
    gap: var(--sm);
    
}

.search-results>.result>.profile-picture {
    width: var(--profile);
    height: var(--profile);
    border-radius: 50%;
}

.search-results>.result>.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--vsm);
    padding: 0 var(--sm);
    min-width: 170px;
    max-width: 70%;
}

.search-results>.result>.details>.email {
    font-size: 12px;
    opacity: .7;
    font-weight: 300;
}

.search-results>.result>.add-friend {
    padding: var(--sm);
    color: var(--accent-color);
}
.search-results>.result>.add-friend.sent{
    color: #38FF54D9;
}
.bottom-navbar {
    border-top: 1px solid rgba(255, 255, 255, .2);
    box-sizing: border-box;
    padding: var(--sm);
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-navbar svg,
.bottom-navbar iconify-icon {
    padding: var(--vsm) var(--sub);
    border-radius: 30%;
    transition: all 0.1s;
}

.bottom-navbar .current svg,
.bottom-navbar iconify-icon.current {
    background-color: rgba(70, 100, 219, 0.4);
    color: var(--link-color);
    fill: var(--link-color);
    transform: scale(1.1);
    animation: .5s click;
}

@keyframes click {
    from {
        transform: scale(1);
    }
    
    to {
        transform: scale(1.1);
    }
}

.call-notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--vsm);
    height: 72px;
    position: absolute;
    top: var(--md);
    border-radius: var(--sub);
    padding: var(--sub);
    box-sizing: border-box;
    background-color: var(--light-main);
    width: 90%;
    align-self: center;
    animation: 0.5s dropDown 0s;
}

.call-notification>.caller-profile-pic {
    width: var(--profile);
    height: var(--profile);
    border-radius: 50%;
}

.call-notification>.caller {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .3px;
}

.call-notification>.call-answer-btn {
    border-radius: 50%;
    background-color: #38FF54D9;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-notification>.call-deny-btn {
    border-radius: 50%;
    background-color: #FF3838;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(135deg);
}

.call-notification svg {
    fill: white;
    stroke-width: 1px;
}

.chat-notification {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: var(--sub);
    grid-row-gap: var(--vsm);
    justify-content: center;
    align-items: center;
    height: 104px;
    position: absolute;
    top: var(--md);
    border-radius: var(--sub);
    padding: var(--sm);
    box-sizing: border-box;
    background-color: var(--light-main);
    width: 90%;
    align-self: center;
    animation: 0.5s dropDown 0s;
}

.chat-notification>.sender-profile-pic {
    width: var(--lg);
    height: var(--lg);
    border-radius: 50%;
}

.chat-notification>.message-sender {
    font-size: 18px;
    font-weight: 600;
}

.chat-notification>.message-body {
    grid-row-start: 2;
    grid-column: span 4;
    padding: 0 var(--sm);
    font-size: var(--sub);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

.chat-notification>.timestamp {
    color: var(--link-color);
    grid-column-end: 5;
    font-size: var(--sub);
}

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}