:root {
	/* font sizes */
	--vlg: 48px;
	/*very large*/
	--lg: 32px;
	/*large font*/
	--md: 16px;
	/* medium font*/
	--sub: 14px;
	/*sub text */
	--sm: 8px;
	/* small font*/
	--vsm: 4px;
	/* very small font */
	--icon: 25px;
	
	/*color sheme*/
	--main-colour: black;
	--accent-colour: white;
	--btn-color: rgb(76, 104, 230);
	--link-color: rgb(90, 140, 255);
	--theme: inear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

@font-face {
	font-family: 'Grand Hotel';
	src: url("./fonts/grandhotel-regular-webfont.woff2") format('woff2'),
		url('./fonts/grandhotel-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	height: 100dvh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Grand Hotel";
}

p {
	font: inherit;
	margin: 0;
}

iconify-icon {
	font-size: var(--icon);
	width: 1em;
	height: 1em;
	padding: var(--sm);
}

a {
	color: var(--link-color);
	text-decoration: none;
	font: inherit;
}

input {
	background: rgba(255, 255, 255, 0);
	border: 0;
	font: inherit;
	color: inherit;
	width: 100%;
}

input:focus, button:focus {
	outline: 0;
}

/*home page*/
.username {
	font-weight: 600;
}

.head {
	display: flex;
	padding: var(--vsm) var(--md);
	justify-content: space-between;
	align-items: center;
	height: 54px;
	box-sizing: border-box;
}

.head-icon {
	display: flex;
	gap: var(--md);
	padding-right: var(--vsm);
}

.head-icon svg[data-lucide="plus"] {
	border: 2px solid white;
	border-radius: var(--sm);
	box-sizing: border-box;
}

.head>h2 {
	font-family: "Grand Hotel";
	font-size: var(--lg);
	font-weight: 400;
	margin: 0;
}

.story-bar {
	display: flex;
	padding: var(--sm) var(--md);
	overflow-x: auto;
	gap: var(--md);
}

.story {
	flex-shrink: 0;
	box-sizing: border-box;
	width: 25%;
}

.story-pic {
	display: inline-flex;
	background: var(--theme);
	width: 72px;
	border-radius: 50%;
	max-width: 150px;
	position: relative;
	padding: var(--vsm);
	box-sizing: border-box;
}

.story-pic>img {
	background-color: black;
	border-radius: 50%;
	padding: var(--vsm);
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

.story-pic>svg {
	position: absolute;
	bottom: 10%;
	right: 10%;
	z-index: 1;
	background-color: white;
	color: black;
	stroke-width: 1;
	border-radius: 50%;
	height: var(--md);
	width: var(--md);
}

.story>p {
	text-align: center;
	padding: var(--sm);
	font-size: 12px;
	opacity: .7;
}

.main {
	height: calc(100dvh - 135px);
	overflow-y: auto;
	padding-bottom: var(--lg);
}

.post {
	font-size: var(--sub);
	display: flex;
	flex-direction: column;
	gap: var(--sm);
}

.post-head {
	display: flex;
	gap: var(--md);
	padding: 0 var(--md);
	padding-left: var(--sm);
	align-items: center;
	line-height: 1.3;
}

.post-owner-details>.extra {
	font-size: 12px;
	letter-spacing: .1px;
	font-weight: 300;
}

.post-owner-pic {
	display: inline-flex;
	width: var(--lg);
	height: var(--lg);
	max-width: 50px;
	max-height: 50px;
	padding: 2px;
	background: var(--theme);
	border-radius: 50%;
	box-sizing: border-box;
}

.post-owner-pic>img {
	background: black;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.post-head svg {
	margin-left: auto;
	padding: var(--sm);
}

.post>img {
	object-fit: contain;
	height: 400px;
	width: auto;
}

.post>.icons {
	display: flex;
	gap: var(--md);
	padding: var(--sm) var(--md);
}

.icons>svg[data-lucide="bookmark"] {
	margin-left: auto;
}

.icons>svg[data-lucide="message-circle"] {
	transform: rotateY(180deg);
}

.post>.likes {
	padding: 0 var(--md);
	font-weight: 600;
}

.post>.post-details {
	letter-spacing: .1px;
	padding: var(--vsm) var(--md);
}

.footer {
	box-sizing: border-box;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--sm) var(--md);
	border-top: .5px solid rgba(255, 255, 255, .5);
}

.footer>img {
	height: var(--icon);
	width: var(--icon);
	border-radius: 50%;
	box-sizing: border-box;
}

.footer svg {
	width: var(--icon);
	height: var(--icon);
	padding: var(--sm);
}



/* Login page */

.login {
	display: flex;
	flex-direction: column;
	gap: var(--md);
	align-items: center;
	justify-content: center;
	padding: var(--lg);
	padding-top: var(--md);
	max-width: 400px;
}

.login>.language {
	opacity: .7;
	font-size: var(--sub);
}

.login>h1 {
	font-family: "Grand Hotel";
	font-size: var(--vlg);
	margin: var(--md) 0 var(--md);
	padding: var(--sm) 0 var(--vsm);
	font-weight: 400;
	letter-spacing: .2px;
}

.login>.social-login {
	font-family: inherit;
	font-weight: 600;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--sm);
	border-radius: var(--sm);
	padding: var(--vsm);
	background: #ED5B3ABA;
	color: white;
	border: 0;
}

.login>.social-login>iconify-icon {
	padding: 0;
	font-size: var(--icon);
}

.login>.or {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	font-weight: 600;
	opacity: .8;
	padding: var(--sm);
	font-size: var(--sub);
}

.or::before,
.or::after {
	content: "";
	flex: 1;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	margin: 0 var(--sub);
}

.login>form {
	display: flex;
	flex-direction: column;
	gap: var(--sm);
	width: 100%;
}

.login>form>.input-field {
	font-size: var(--md);
	border: 1px solid rgba(255, 255, 255, .3);
	border-radius: var(--vsm);
	background: rgba(255, 255, 255, .1);
	position: relative;
	width: 100%;
}

.login > form > .input-field > label{
	font: inherit;
	font-size: var(--sub);
	position: absolute;
	top: var(--sub);
	left: var(--sm);
	opacity: .65;
	transition: all .1s linear;
	pointer-events: none;
}

.login > form > .input-field > input{
	padding: var(--sm);
	padding-top: var(--md);
}

.login > form > .input-field:focus-within{
    border-color: var(--link-color);
}

.login > form > .input-field > input:focus + label, 
.login > form > .input-field > input:not(:placeholder-shown) + label{
	top: 2px;
	font-size: 10px;
}

.login>form>.reset-link {
	align-self: flex-end;
	padding: var(--sm) 0 var(--md);
	margin-bottom: var(--sm);
	font-size: var(--sub);
	letter-spacing: .3px;
}

.login>form>.submit-btn {
	font: inherit;
	font-size: var(--sub);
	font-weight: 600;
	padding: var(--sm);
	border-radius: var(--sm);
	border: 0;
	background: var(--btn-color);
	color: white;
	cursor: pointer;
}

.login>.signup-link {
	margin: var(--sub) 0;
	opacity: .8;
	font-weight: 300;
	font-size: var(--sub);
}

.login > .signup-link > a{
	font-weight: 600;
	opacity: 1;
}